<div class="container">
    <mat-card>
        <mat-card-title>Cadastrar Produto</mat-card-title>
        <form [formGroup]="productFormGroup" (ngSubmit)="createProduct()">
            <div class="formularioDiv">
                <mat-form-field>
                    <input matInput type="text" placeholder="Nome" name="name" formControlName="name">
                    <mat-error>
                        <strong>Nome</strong> é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" placeholder="Preço" name="price" formControlName="price">
                    <mat-error>
                        <strong>Preço</strong> é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Descrição" name="description" formControlName="description">
                    <mat-error>
                        <strong>Descrição</strong> é obrigatório
                    </mat-error>
                </mat-form-field>

                <label class="custom-file-upload">
                    <input type="file"/>
                    Carregar imagem
                </label>
            </div>

            <button type="submit" mat-raised-button color="primary">Salvar</button>
            <button mat-raised-button (click)="cancel()">Cancelar</button>
        </form>
    </mat-card>
</div>