<div class="container">
    <mat-card>
        <mat-card-title>Cadastrar Produto</mat-card-title>
        <form [formGroup]="productFormGroup">
            <mat-form-field>
                <input  matInput 
                        type="text"
                        required="true"
                        placeholder="Nome" 
                        [(ngModel)]="product.name" 
                        name="name"
                        formControlName="nome">
            </mat-form-field>
            
            <mat-form-field>
                <input  matInput
                        type="number" 
                        min="0"
                        max="10"
                        step="1"
                        placeholder="Preço" 
                        [(ngModel)]="product.price" 
                        name="price"
                        formControlName="preco">
            </mat-form-field>
        </form>

        <button mat-raised-button color="primary" (click)="createProduct()">Salvar</button>
        <button mat-raised-button (click)="cancel()">Cancelar</button>

    </mat-card>
</div>