.sidenav {
    background-color: #331b88;
    width: 200px;
}

.sidenav {
    a {
        color: #FFF;
    }
}

.sidenav { 
    i {
        padding-right: 10px;
    }    
}

.content {
    background-color: #FFF;
}