.sidenav {
    background: rgb(99,45,194);
    background: linear-gradient(0deg, rgba(99,45,194,1) 0%, rgba(80,30,170,1) 35%);
    width: 200px;
}

.sidenav {
    a {
        color: #FFF;
    }
}

.sidenav { 
    i {
        padding-right: 10px;
    }    
}

.content {
    background-color: #FFF;
}