<div class="container">
    <mat-card>
        <mat-card-title>Editar Produto</mat-card-title>
        <form [formGroup]="productFormGroup" (ngSubmit)="editProduct()">
            <div class="formularioDiv">
                <mat-form-field>
                    <input matInput type="text" placeholder="Nome" formControlName="name" name="name">
                    <mat-error *ngIf="this.productFormGroup.controls.name.hasError('required')">
                        <strong>Nome</strong> é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" placeholder="Preço" formControlName="price" name="price">
                    <mat-error *ngIf="this.productFormGroup.controls.price.hasError('required')">
                        <strong>Preço</strong> é obrigatório.
                    </mat-error>
                </mat-form-field>
            </div>
        </form>

        <button mat-raised-button color="primary" (click)="editProduct()">Salvar</button>
        <button mat-raised-button (click)="cancel()">Cancelar</button>

    </mat-card>
</div>